
@import url("https://fonts.googleapis.com/css?family=Poppins");
body{
    background-color:#000;
}
header{
    width:900px;
    margin: 0 auto;
    padding:1% 0 0 0;
    font-family:'Poppins', sans-serif;
}
header h1{
    display: inline-block;
    width:30%; 
    font-family:'Poppins', sans-serif;
}
header h1 a{
    font-size:16px;
    text-decoration: none;
    color:#AFB3C4;
    font-family:'Poppins', sans-serif;
}
.intro{
    width:1000px;
    height:240px;
    margin:0 auto;
    padding:50px 0 24px 0;
}
.intro h2{
    color:#Fff; font-weight: 400; text-align: center;
    font-family: 'Poppins', noto sans, sans-serif;
    font-size:36px; margin:0 0 0 0;
}
.intro h1{
    text-align: center;
    padding:6px 0 0px 0;
    margin:0 0 0 0;
}
.intro h1 a{
    color:#Fff; font-weight: 400;
    font-family: 'Poppins', noto sans, sans-serif;
    font-size:36px;
    text-decoration: none;
}
.intro p{
    font-size:14px; white-space: pre;
    text-align: center;
    padding:6px 0 0 0;
    color:#9094A5; line-height: 1.8;
    font-family:'Poppins', noto sans, sans-serif;
    margin:8px 0 8px 0;
}

.nav{
    display: inline-block;
    width:65%;
    text-align: right;
    margin:0;
}
.nav li{
    display: inline-block;
    padding-left:40px;
    transition:0.3s;
} 

.nav li a{
    font-size:16px;
    text-decoration: none;
    color:#AFB3C4;
    font-family:"Poppins",sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.nav li a:hover{color:#fff;}
.nav li:hover{
    transform: translate(0, 5px);
}

section{
    width:1000px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

article{
    width:46%; height:400px;
    margin:0 10px 0 10px;
    padding:0 0 10% 0;
}

.con_image{
    width:100%; height:333px;
    overflow: hidden;
}
.con_image img{
    width:100%; 
    cursor: pointer;
    transition:0.3s;
}
.con_image img:hover{
    transform: scale(1.1);
    transition: transform .35s;
}
.title{
    width:80%;
}

.title h1{
    font-size:34px;
    color:#fff; font-family: "Poppins", "Noto Sans", "Malgun Gothic",  sans-serif;
    margin:10px 0 0 0;
}
.title p{
    color:#9094a5; font-weight:400;
    margin:4px 0 0 0; font-size: 14px;
    font-family: "Poppins", "Noto Sans", "Malgun Gothic",  sans-serif;
}

footer{
    text-align: right;
    color: #9094A5;
    font-size: 16px;
    width:1000px;
    margin:0 auto;
    padding:60px 0 30px 0;
}
/* ------------------------------------------- media query */
@media screen and (max-width: 768px) {
    header{
        width:100%;
        margin: 0 auto;
        padding:1% 0 0 0;
        font-family:'Poppins', sans-serif;
    }
    header h1{
        display: inline-block;
        width:20%;
        font-family:'Poppins', sans-serif;
        margin:0 0 0 20px;
    }
    header h1 a{
        font-size:20px;
        text-decoration: none;
        color:#9094A5;
        font-family:'Poppins', sans-serif;
    }
    .intro{
        width:100%;
        height:240px;
        margin:0 auto;
        padding:50px 0 36px 0;
    }
    .intro h1{
        text-align: center;
        padding:6px 0 0 0;
        margin:0 0 0 0;
    }
    .intro h1 a{
        color:#717481;
        font-family: 'noto sans', sans-serif;
        font-size:32px;
        text-decoration: none;
    }
    .intro p{
        font-size:28px;
        text-align: center;
        padding:6px 0 0 0;
        color:#9094a5;
        font-family:'noto sans', sans-serif;
        margin:8px 0 8px 0;
    }
    
    .nav{
        display: inline-block;
        width:65%;
        text-align: right;
        margin:0;
    }
    .nav li{
        display: inline-block;
        padding-left:40px;
        transition:0.3s;
    } 
    .nav li a{
        font-size:18px;
        text-decoration: none;
        color:#9094A5;
        font-family:"Poppins",sans-serif;
        cursor: pointer;
        transition: 0.2s;
    }
    .nav li:nth-of-type(1){
        color:#000;
    }
    .nav li:hover{
        transform: translate(0, 5px);
    }
    .nav li a:hover{color:#000;}
    
    section{
        width:100%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    article{
        width:46%;
        margin:0 10px 0 10px;
        padding:0 0 10% 0;
    } 
    
    footer{
        text-align: right;
        color: #9094A5;
        font-size: 16px;
        width:100%;
        margin:0 auto;
        padding:60px 0 30px 0;
    }
}
/* ------------------------------------------- media query mobile */
@media screen and (max-width: 488px) {
    header{
        text-align: center;
        margin: 0 auto;
        padding:1% 0 0 0; 
        font-family:'Poppins', sans-serif;
    }
    header h1{
        font-family:'Poppins', sans-serif; 
        margin:0 0 3% 0; white-space: pre; 
    }
    header h1 a{
        font-size:20px; color:#fff; 
        text-decoration: none;
        font-family:'Poppins', sans-serif;
    }
    .intro{
        width:100%;
        height:140px;
        margin:0 auto;
        padding:50px 0 0 0;
    }
    .intro h1{
        text-align: center;
        padding:6px 0 0 0;
        margin:0 0 0 0; display: none;
    }
    .intro h2{font-size: 24px;}
    .intro h1 a{
        text-decoration: none;
    }
    .intro p{
        font-size:12px;
        text-align: center;
        padding:6px 0 0 0;
        color:#9094a5;
        font-family:'noto sans', sans-serif;
        margin:8px 0 8px 0;
    }
    
    .nav{
        width:360px;
        margin:0 auto;
        padding:0 0 0 0;
    }
    .nav li a{
        width:100%; margin:0 12px 0 0;
        font-size:18px;
        text-decoration: none;
        color:#9094A5;
        font-family:"Poppins",sans-serif;
        cursor: pointer;
        transition: 0.2s; padding:0;
    }
    .nav li:hover{
        transform: translate(0, 5px);
    }
    .nav li a:hover{color:#000;}
    
    section{
        width:100%;
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    article{
        width:100%;
        margin:0 10px 0 10px;
        padding:0 0 0 0;
    } 
    .con_image{
        margin:0 0 -24% 0;
    }
    .title{padding:0 0 40px 0;}
    footer{
        text-align: center;
        color: #9094A5;
        font-size: 12px;
        width:100%;
        margin:0 auto;
        padding:60px 0 30px 0;
    }
}
