@import url("https://fonts.googleapis.com/css?family=Poppins");
body{
    background-color:#fff;
}
header{
    width:1000px;
    margin: 0 auto;
    padding:1% 0 0 0;
    font-family:'Poppins', sans-serif;
}
header h1{
    display: inline-block;
    width:30%;
    font-family:'Poppins', sans-serif;
}
header h1 a{
    font-size:28px;
    text-decoration: none;
    color:#9094A5;
    font-family:'Poppins', sans-serif;
}

.nav{
    display: inline-block;
    width:65%;
    text-align: right;
    margin:0;
}
.nav li{
    display: inline-block;
    padding-left:40px;
    transition:0.3s;
} 
.nav li a{
    font-size:20px;
    text-decoration: none;
    color:#9094A5;
    font-family:"Poppins",sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.nav li:hover{
    transform: translate(0, 5px);
}
.nav li a:hover{color:#000;}

.prologue{
    width:1000px;
    text-align: center;
    margin:0 auto;
}

.prologue p{
    white-space: pre;
    line-height: 2;
    color:#9094a5;
}

article{
    width:1000px;
    margin:0  auto;
}
.con_text{
    float:left;
}
.con_text p{
    color:#9094a5;

}
.con_text h1{
    white-space: pre;
    font-size:30px;
    line-height: 1.7;
    margin:0 0 0 0;
}
.con_picture{
    width:30%;

}