@import url("https://fonts.googleapis.com/css?family=Poppins");
body{
    background-color:#fff;
    font-family: "Poppins", "Noto Sans", "Malgun Gothic",  sans-serif;
}
header{
    width:900px;
    margin: 0 auto;
    padding:1% 0 0 0;
    font-family: "Poppins", "Noto Sans", "Malgun Gothic",  sans-serif;
}
header h1{
    display: inline-block;
    width:30%; 
    font-family: "Poppins", "Noto Sans", "Malgun Gothic",  sans-serif;
}
header h1 a{
    font-size:16px;
    text-decoration: none;
    color:#AFB3C4;
    font-family: "Poppins", "Noto Sans", "Malgun Gothic",  sans-serif;
}

.nav{
    display: inline-block;
    width:65%;
    text-align: right;
    margin:0;
}
.nav li{
    display: inline-block;
    padding-left:40px;
    transition:0.3s;
} 

.nav li a{
    font-size:16px;
    text-decoration: none;
    color:#AFB3C4;
    font-family: "Poppins", "Noto Sans", "Malgun Gothic",  sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.nav li a:hover{color:#fff;}
.nav li:hover{
    transform: translate(0, 5px);
}

.prologue{
    width:1000px;
    text-align: center;
    margin:0 auto;
    padding:1% 0 0 0;
}

.prologue p{
    white-space: pre;
    line-height: 2;
    color:#676767;
}
section{
    width:1200px; margin:0 auto;
    padding:20px 0 200px 0; 
}
article{
    width:1000px; margin:0 auto;
    padding:4% 0 0 0; 
}
.con_text{
    width:40%; position: absolute;
    padding:0 0 0 4%;
}
.con_text p{
    color:#9094A5;
    padding:22% 0 0 0;
}
.con_text h1{
    white-space: pre;
    font-size:32px;
    line-height: 1.7;
    margin:0 0 0 0; color:#000;
}
.con_picture{
    width:50%; margin-left:46%;
    cursor: pointer;
}
.con_picture img{
    width:100%; 
}
.modal_wrap{
    display: none;
    width: 700px;
    height: 400px;
    position: absolute;
    left:50%;
    top:20%;
    transform: translateX(-50%);
    margin:0 auto;
    z-index: 2;
}
.black_bg{
    display: none;
    position:fixed;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.6);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: -10%;
    cursor: pointer;
}
.modal_close img{
    width:40px;
}
.vd{
    text-align: center;
}
.vd video{
    width:100%; 
}


