@import url("https://fonts.googleapis.com/css?family=Poppins");

body{
    background-color:#fff; margin:0 0 0 0;
}
header{
    width:1000px;
    margin: 0 auto;
    padding:1% 0 0 0;
    font-family:'Poppins', sans-serif;
}
header h1{
    display: inline-block;
    width:30%;
    font-family:'Poppins', sans-serif;
}
header h1 a{
    font-size:28px;
    text-decoration: none;
    color:#9094A5;
    font-family:'Poppins', sans-serif;
}

.nav{
    display: inline-block;
    width:65%;
    text-align: right;
    margin:0;
}
.nav li{
    display: inline-block;
    padding-left:40px;
    transition:0.3s;
} 
.nav li a{
    font-size:20px;
    text-decoration: none;
    color:#9094A5;
    font-family:"Poppins",sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.nav li:hover{
    transform: translate(0, 5px);
}
.nav li a:hover{color:#000;}

/* ------------------------------------- project detail */

section{
    width:100%;
}

.sec01{
    width:100%;
    background: linear-gradient(90deg, rgba(46,152,255,1) 0%, rgba(41,107,255,1) 100%);
    height:432px;
 }
.sec01_wrap{
    width:1200px; 
}
.mainimg img{width:50%; padding:3% 0 0 0;}
.maintext{
    white-space: pre; color:#fff; float:left; padding:4% 0 0 26%;
}
.maintext h1{font-weight:600; font-size:32px; line-height: 1.6;}
.maintext p{
    font-weight:400; font-size:14px; line-height: 1.8;
    margin-top:-100px;
}
/* ------------------------------------- section 02 */
.sec02{
    width:100%; height: 320px;
    display:inline-block; padding:60px 0 0 0;
    background: #F8FCFF;
}
.sec02_wrap{
    width:1200px; margin:0 auto;
}
.overview{
    width:40%;
    float:left; white-space: pre;
    padding:0 0 0 100px;  margin:0 auto;
}
.overview p{
    font-weight:400; margin:0; color:#404040;
}
.overview span{
    display: inline-block; color:#8D8D8D;
    font-weight:200; font-size: 14px;
    line-height: 1.8; margin-top:-5px;
}
.textinfo{
    padding:20px 0 0 0; width:80%;
}
.textinfo p{color:#404040;}
.textinfo span{
    font-weight: 300; color:#8D8D8D;
    white-space: pre;
}
/* ------------------------------------------- back to project */
.trigger{
    text-align: center; padding:6% 0 0 0;
}
.button{
    background:#3880FF; color:#fff;
    text-decoration: none; font-size: 22px;
    padding:14px 120px; border-radius: 40px;
}
/* ------------------------------------------- back to project */
.moveto{
    width:100%; text-align: center;
    padding:20% 0 10% 0; 
}
.moveto a{
    font-size:24px; font-family: 'Poppins';
    color:#9094A5;
}
.moveto a:hover{
    color:#000;
}

