@import url("https://fonts.googleapis.com/css?family=Poppins");

body{
    background-color:#fff;
    margin:0 0 0 0;
    font-family: 'Noto sans', Times, Arial, Helvetica, sans-serif;
}
header{
    width:1000px;
    margin: 0 auto;
    padding:1% 0 0 0;
    font-family:'Poppins', sans-serif;
}
header h1{
    display: inline-block;
    width:30%;
    font-family:'Poppins', sans-serif;
}
header h1 a{
    font-size:28px;
    text-decoration: none;
    color:#9094A5;
    font-family:'Poppins', sans-serif;
}

.nav{
    display: inline-block;
    width:65%;
    text-align: right;
    margin:0;
}
.nav li{
    display: inline-block;
    padding-left:40px;
    transition:0.3s;
} 
.nav li a{
    font-size:20px;
    text-decoration: none;
    color:#9094A5;
    font-family:"Poppins",sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.nav li:hover{
    transform: translate(0, 5px);
}
.nav li a:hover{color:#000;}

/* ------------------------------------- project detail */

section{
    width:100%;
}

.sec01{
    width:100%;
    background-color: #1D1E21;
    height:432px;
 }

.mainimg{
    width:1200px;
    text-align: center;
    margin:0 auto;
}
.mainimg img{
    width:80%;
    text-align: center;
    margin:0 auto;
    position: relative;
}

/* ------------------------------------- section 02 */
.sec02{
    width:100%; height: 350px;
    display:inline-block; padding:40px 0 0 0;
    background:#141417; font-size: 15px; 
}
.sec02_wrap{
    width:1200px; margin:0 auto;
}
.overview{
    width:40%;
    float:left; white-space: pre;
    padding:0 0 0 200px;  margin:0 auto;
}
.overview p{
    font-weight:400; margin:0; color:#FFFFFF;
}
.overview span{
    display: inline-block; color:#D3D3D3;
    font-weight:200; 
    line-height: 1.8; margin-top:-5px;
    padding:0 0 80px 0;
}
.textinfo{
    padding:0 0 0 0;
    white-space: pre; line-height: 1.8;
    width:40%;
}
.textinfo p{color:#FFFFFF; margin:-20px 0 0 0;}
.textinfo span{
    font-weight: 300; color:#D3D3D3;
}
/* ------------------------------------- section 03, ux01 */
.sec03{
    width:100%; height:570px;
    background-color:#fff; line-height: 1.8;
}
.sec03_wrap{width:990px; margin:0 auto;}
.sec03 p{margin:-5% 0 0 0;}
.ux01_text1{white-space: pre;} 
.ux01_text2{white-space: pre;}
.ux01_text2 h1{margin:-5% 0 2% 0;}
/* ------------------------------------- section 04, ux02 */
.sec04{
    width:100%; height:550px;
    background-color:#fff; 
}
.sec04_wrap{width:1200px; margin:0 auto; }
.ux02_text{padding:0 0 0 100px;}
.ux02_text h2{
    padding:24px 0 0 0;
    text-align: center; width:1000px;
}
.ux02_text h1{
    white-space: pre; line-height: 1.6;
    height:28px; padding:10px 0 0 0;
}
.ux02_text p{
    font-size:13px; color:#000;
}
.ux02_img{
   text-align: center; margin:0;
}
.ux02_img img{
    padding:4% 0 0 0; width:64%; 
}
/* ------------------------------------- section 05, ux03 */
.sec05{
    width:100%; height:600px;
}
.sec05_wrap{width:1200px; margin:0 auto;}
.ux03_text{padding:50px 0 0 100px;}
.ux03_text p{
    font-size:13px; color:#676767;
}
.ux03_img{text-align: center; margin:0;}
.ux03_img img{padding:5% 0 0 0; width:64%;}
/* ------------------------------------- section 06, ux04 */
.sec06{
    width:100%; height:560px; background-color:#0F0F0F;
}
.sec06_wrap{width:1200px; margin:0 auto;}
.ux04_text h1{color:#fff;}
.ux04_text{padding:50px 0 0 100px;}
.ux04_img{text-align: center; margin:0;}
.ux04_img img{padding:5% 0 0 0; width:68%;}
/* ------------------------------------- section 07, ux04 */
.sec07{
    width:100%; height:560px; background-color:#fff;
}
.sec07_wrap{width:1200px; margin:0 auto;}
.ux05_text h1{color:#000;}
.ux05_text{padding:50px 0 0 100px;}
.ux05_img{text-align: center; margin:0;}
.ux05_img img{padding:2% 0 2% 0; width:74%;}
/* ------------------------------------------- UI 01 */
.sec08{
    width:100%; height:1300px; position: relative;
    padding:6% 0 0 0;
}
.sec08_wrap{ width:1200px; margin:0 auto;}
.sec08_wrap h1{width:1000px; padding:50px 0 0 100px;}
.ui01_img{margin:0 0 0 0;}
.ui01_img video{width:34%; margin:-16% 0 0 14%;}
.text08{
    white-space: pre; position: absolute; top:20%; right:28%;
    line-height: 1.6; 
}
.text08 h2{ height:8px; font-size:34px;}
.text08 p{font-size: 15px; line-height: 1.8; padding:8% 0 0 0;}
/* ------------------------------------------- UI 02 */
.sec09_wrap{width:1000px; margin:-8% 0 0 0;}
.sec09_wrap h1{width:1000px; padding:50px 0 0 100px;}
.ui02_img{
    position: absolute; top:44%; left:48%;
    margin:0 0 0 0;
}
.ui02_img video{width:64%;}
.text09{
    white-space: pre; padding:0 0 0 24%;
    line-height: 1.6; 
}
.text09 h2{ height:8px; font-size:34px;}
.text09 p{font-size: 15px; line-height: 1.8; padding:2% 0 0 0;}
/* ------------------------------------------- UI 03 sec 10 */
.sec10{
    width:100%; height:900px; margin-top:6%;
}
.sec10_wrap{
    width:1200px; margin:0 auto; 
}
.sec10_wrap h1{width:1000px; padding:50px 0 0 100px;}
.ui03_text{
    text-align: center; white-space: pre; height:200px;
    margin:-4% 0 0 0;
}
.ui03_text h2{font-size:34px;}
.ui03_text p{
    font-size: 14px; line-height: 1.8; margin:-5% 0 0 0;}
.ui03_img{
   text-align: center; margin:0;  
}
.ui03_img img{
    width:74%; margin-top:4px;
}
/* ------------------------------------------- UI 04 sec 11 */
.sec11{
    width:100%; height:840px; position: relative;
}
.sec11_wrap{width:1200px; margin:0 auto; }
.ui04_text{text-align: center; white-space: pre; margin-top:-20px;}
.ui04_text h2{font-size: 34px;}
.ui04_text p{font-size: 14px; line-height: 1.8; margin-top:-54px;}
.ui04_img{
   width:100%;
   text-align: center; margin:0; 
}
.ui04_img img{
    width:34%; margin-top:-28px; padding:0 10px;
}
/* ------------------------------------------- sec 12 */
.sec12{
    width:100%; height:850px; position: relative;
    padding:6% 0 0 0;
}
.sec12_wrap{ width:1200px; margin:0 auto;}
.sec12_wrap h1{width:1000px; padding:50px 0 0 100px;}
.ui05_img{margin:0 0 0 0;}
.ui05_img video{width:34%; margin:-16% 0 0 14%;}
.text12{
    white-space: pre; position: absolute; top:30%; right:28%;
    line-height: 1.6; 
}
.text12 h2{ height:8px; font-size:34px;}
.text12 p{font-size: 15px; line-height: 1.8; padding:8% 0 0 0;}
/* ------------------------------------------- back to project */
.moveto{
    width:100%; text-align: center;
    padding:10% 0 10% 0;
}
.moveto a{
    font-size:24px; font-family: 'Poppins';
    color:#9094A5;
}
.moveto a:hover{
    color:#000;
}

/* ------------------------------------------- scroll ani */
.sa{
    opacity: 0;
    transition:all .5s ease;
}
.sa .ux01_img{
    transform: translate(0, 100px);
}
.sa.show{
    opacity:1;
    transform:none;
}
