@import url("https://fonts.googleapis.com/css?family=Poppins");

body{
    background-color:#fff; margin:0 0 0 0;
}
header{
    width:1000px;
    margin: 0 auto;
    padding:1% 0 0 0;
    font-family:'Poppins', sans-serif;
}
header h1{
    display: inline-block;
    width:30%;
    font-family:'Poppins', sans-serif;
}
header h1 a{
    font-size:28px;
    text-decoration: none;
    color:#9094A5;
    font-family:'Poppins', sans-serif;
}

.nav{
    display: inline-block;
    width:65%;
    text-align: right;
    margin:0;
}
.nav li{
    display: inline-block;
    padding-left:40px;
    transition:0.3s;
} 
.nav li a{
    font-size:20px;
    text-decoration: none;
    color:#9094A5;
    font-family:"Poppins",sans-serif;
    cursor: pointer;
    transition: 0.2s;
}
.nav li:hover{
    transform: translate(0, 5px);
}
.nav li a:hover{color:#000;}

/* ------------------------------------- project detail */

section{
    width:100%;
}

.sec01{
    width:100%;
    background-color: #F7CD16;
    height:432px;
 }

.mainimg{
    width:1200px;
    text-align: center;
    margin:0 auto;
}
.mainimg img{
    width:80%;
    text-align: center;
    margin:0 auto;
    position: relative;
}
/* ------------------------------------- section 02 */
.sec02{
    width:100%; height: 320px;
    display:inline-block; padding:60px 0 0 0;
    background:#fff;
}
.sec02_wrap{
    width:1200px; margin:0 auto;
}
.overview{
    width:40%;
    float:left; white-space: pre;
    padding:0 0 0 100px;  margin:0 auto;
}
.overview p{
    font-weight:400; margin:0; color:#404040;
}
.overview span{
    display: inline-block; color:#8D8D8D;
    font-weight:200; font-size: 14px;
    line-height: 1.8; margin-top:-5px;
}
.textinfo{
    padding:20px 0 0 0;
}
.textinfo p{color:#404040;}
.textinfo span{
    font-weight: 300; color:#8D8D8D;
}
/* ------------------------------------- section 03, ux01 */
.sec03{
    width:100%; height:500px;
    background-color:#fcfcfc; 
}
.sec03_wrap{
    width:1200px; margin:0 auto;}
.ux01_text{
    padding:50px 0 0 100px;
}
.ux01_text p{
    font-size:13px; color:#B8B8B8;
}
.hr01{width:1000px; margin:-5px 0 0 0; border-top: 1px #B8B8B8;}
.ux01_text h1{
    white-space: pre; line-height: 1.6;
    height:28px; padding:10px 0 0 0; width:30%;
}
.ux01_img{
   text-align: center;
}
.ux01_img img{
    padding:0 0 0 28%; width:50%;
}
/* ------------------------------------- section 04, ux02 */
.sec04{
    width:100%; height:550px;
    background-color:#fcfcfc; 
}
.sec04_wrap{
    width:1200px; margin:0 auto; 
}
.ux02_text{
    padding:50px 0 0 100px;
}
.ux02_text p{
    font-size:13px; color:#B8B8B8;
}
.hr02{width:1000px; margin:-5px 0 0 0; border-top:1px #B8B8B8}
.ux02_text h1{
    white-space: pre; line-height: 1.6;
    height:28px; padding:10px 0 0 0;
    color:#4E565D;
}
.ux02_img{
   text-align: center; margin:0;
}
.ux02_img img{
    padding:10% 0 0 0; width:70%; 
}
/* ------------------------------------- section 05, ux03 */
.sec05{
    width:100%; height:730px;
}
.sec05_wrap{
    width:1200px; margin:0 auto;
}
.ux03_text{
    padding:50px 0 0 100px;
}
.ux03_text p{
    font-size:13px; color:#B8B8B8;
}
.hr03{width:1000px; margin:-5px 0 0 0; border-top:1px #B8B8B8;}
.ux03_img{
   text-align: center; margin:0;
}
.ux03_img img{
    padding:4% 0 0 0; width:70%; 
}
/* ------------------------------------------- UI 01 */
.sec06{
    width:100%; height:1200px; position: relative;
    background: linear-gradient(#fff, #F7F9FC);
    
}
.sec06_wrap{
    width:1200px; margin:0 auto; 
}
.ui01_text{
    padding:40px 0 0 100px;
}

.ui01_text p{
    font-size:13px; color:#B8B8B8; 
}
.hr04{
    width:1000px; margin:0 0 0 0; border-top:1px #B8B8B8;
}
.ui01_img{
   text-align: center; margin:0; 
   
}
.ui01_img img{
    width:66%; 
    padding: 2% 0 0 0; 
}
.text01{
    white-space: pre; position: absolute; top:8%; right:20%;
    line-height: 1.6; 
}
.text01 h1{ height:8px; color: #4E565D;} 
.text01 p{font-size: 13px; line-height: 1.8; color:#8D8D8D;}
.text02 p{font-size: 13px; line-height: 1.8; color:#8D8D8D;}
.text02{
    white-space: pre; position: absolute; top:54%; left:20%;
    line-height: 1.6; 
}
.text02 h1{height:8px; color: #4E565D;}
/* ------------------------------------------- UI 02 */
.sec07{
    width:100%; height:800px; position: relative;
}
.sec07_wrap{
    width:1200px; margin:0 auto; 
}
.ui02_text{
    padding:40px 0 0 100px;
}
.ui02_text p{
    font-size:13px; color:#B8B8B8; 
}
.hr05{
    width:1000px; margin:0 0 0 0; border-top:1px #B8B8B8;
}
.ui02_img{
   text-align: center; 

}
.ui02_img img{
    width:76%; margin-top:-24px;
}
.ui02_text2{
    text-align: center; white-space: pre; margin-top:-20px;}
.ui02_text2 h1{color: #4E565D;}
.ui02_text2 p{
    font-size: 13px; line-height: 1.8; margin-top:-44px; color: #8D8D8D;
    height:50px;
}
/* ------------------------------------------- UI 03 */
.sec08{
    width:100%; height:840px; position: relative;
}
.sec08_wrap{
    width:1200px; margin:0 auto; 
}
.ui03_text{
    padding:40px 0 0 100px;
}
.ui03_text p{
    font-size:13px; color:#B8B8B8; 
}
.hr06{
    width:1000px; margin:0 0 0 0; border-top:1px #B8B8B8;
}
.ui03_img{
   text-align: center; margin:0; 
   
}
.ui03_img img{
    width:68%; margin-top:-28px; padding:0 10px;
}
.ui03_text2{
    text-align: center; white-space: pre; margin-top:-20px;}
.ui03_text2 h1{color:#4E565D;}
.ui03_text2 p{
    font-size: 13px; line-height: 1.8; margin-top:-44px; color:#8D8D8D;}
/* ------------------------------------------- UI 04 */
.sec09{
    width:100%; height:850px; position: relative;
}
.sec09_wrap{
    width:1200px; margin:0 auto; 
}
.ui04_text{
    padding:40px 0 0 100px;
}
.ui04_text p{
    font-size:13px; color:#B8B8B8;
}
.hr07{
    width:1000px; margin:0 0 0 0; border-top:1px #B8B8B8;
}
.ui04_img{
   text-align: center; margin:0; 
   
}
.ui04_img img{
    width:78%; margin-top:-28px; padding:0 10px;
}
.ui04_text2{
    text-align: center; white-space: pre; margin-top:-20px;}
.ui04_text2 h1{color: #4E565D;}
.ui04_text2 p{
    height:50px;
    font-size: 13px; line-height: 1.8; margin-top:-44px; color:#8D8D8D;}
/* ------------------------------------------- UI 05 */
.sec10{
    padding:4% 0 0 0;
    background: #fff; text-align: center;
}
/* ------------------------------------------- back to project */
.moveto{
    width:100%; text-align: center;
    padding:10% 0 10% 0;
}
.moveto a{
    font-size:24px; font-family: 'Poppins';
    color:#9094A5;
}
.moveto a:hover{
    color:#000;
}

/* ------------------------------------------- scroll ani */
.sa{
    opacity: 0;
    transition:all .5s ease;
}
.sa .ux01_img{
    transform: translate(0, 100px);
}
.sa.show{
    opacity:1;
    transform:none;
}
